.limitText {
    max-width: 300px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.btn, svg {
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .tollbar {
    background-color: white;
    margin: 10px 0 40px 0;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .table {

  }