body {
    font-family: Arial, sans-serif;
    background-color: #eff4da; /* Verde claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    color: #1B7C60; /* Verde escuro */
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.login-container button {
    background-color: #1B7C60; /* Verde escuro */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.login-container button:hover {
    opacity: 1;
    background-color: #16624b; /* Um tom mais escuro do verde escuro */
}

.cancelbtn {
    background-color: #f44336;
    color: white;
    padding: 10px 18px;
    border-radius: 4px;
}

.container {
    padding: 16px;
}