<nav class="navbar">
    <div class="container-navbar">
        <ul class="navbar-nav">
            <li>
                <a routerLink="" class="nav-link" routerLinkActive="active">
                    Sobre
                </a>
            </li>
            <li>
                <a routerLink="">Eventos</a>
            </li>
            <li>
                <a routerLink="">Parceiros</a>
            </li>
            <li>
                <a routerLink="">Transparencia</a>
            </li>
            <li>
                <a routerLink="">Contato</a>
            </li>
            <li>
                <a routerLink="">Faça sua Doação</a>
            </li>
            <li>
                <a routerLink="">Login</a>
            </li>
        </ul>
    </div>
</nav>